<% if notice %>
<div class="alert alert-info"><%= notice %></div>
<% end %>
<div class="well">
	<input type="text" readonly="readonly" value="http://grouptalk.tidevs.in/<%= @room.token %>" size="50" id="token_url" />
</div>
<button id="conference_start" class="btn btn-primary"><i class="glyphicon glyphicon-earphone"></i> カンファレンスに参加</button>
<button id="conference_leave" class="btn btn-danger"><i class="glyphicon glyphicon-phone-alt"></i> カンファレンスから離脱</button>
<button id="conference_unmute" class="btn btn-primary"><i class="glyphicon glyphicon-volume-up"></i> アンミュート</button>
<button id="conference_mute" class="btn btn-primary"><i class="glyphicon glyphicon-volume-off"></i> ミュート</button>
